.small-select {
    font-size: 15px;
    height: calc(1.5em + 0.75rem + 2px);
    width: 80px;
    padding: 7px;
    border-color: rgb(196, 196, 196);
    background-color: rgb(198, 224, 241);
}

.underweight{
    color: rgb(241, 180, 14) ;
}

.normal{
    color: green;
}

.overweight{
    color: rgb(163, 2, 2);
}

